<div class="govuk-form-group">
    <label class="govuk-label">
            Postcode
        </label>
        <input class="govuk-input govuk-input--width-20" type="text" />
        <a asp-controller="Address" asp-action="Index" asp-route-postcode="" class="govuk-button">Find address</a>
</div>