@{
    ViewData["Title"] = "Error-problem with service";
}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">Try again later.</p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="#">Contact the Helpline</a> if you need to speak to someone about the lighting outside your home.
                    </p>
                </div>
            </div>
        </main>
        <form asp-controller="Home" asp-action="Index" method="get">
            <button class="govuk-button">Back to start</button>
        </form>
    </div>